body {
  font-family: $titles-font;
}

.heading-primary {

  &--main {
    font-size: 8rem;

    @include respond(tab-port) {
      font-size: 12rem;
    }
    @include respond(tab-land) {
      font-size: 12.5rem;
    }
    @include respond(small-desktop) {
      font-size: 12.8rem;
    }
    @include respond(big-desktop) {
      font-size: 13rem;
    }
  }

  &--blue {
    color: $color-fourth;
  }
}

.heading-secondary {
  &--main {
    display: block;
    width: 100%;
    font-size: 5em;
    padding: 0.5em 0 1.5em 0;
    height: 80px;

    @include respond(small-desktop) {
      font-size: 7.5em;
    }
    @include respond(big-desktop) {
      font-size: 8em;
    }
  }

  &--sub {
    font-size: 4em;
    color: $color-fifth;
    margin-left: .08em;
  }
}
