.row {
  @include flexbox(normal, normal, column);

  @include respond(tab-land) {
    @include flexbox(space-evenly, normal);
  }
  &--row{
    @include flexbox(space-evenly, normal);
  }

  .col-1-of-2 {
    width: calc((100%));

    @include respond(tab-land) {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }
  }
  .col-1-of-1 {
    width: 100%;
    @include respond(tab-land) {
      width: calc((100% - #{$gutter-vertical}));
    }
  }
}
