.header {
  width: 100%;
  @include flexbox(center, normal);

  &__logo-container {
    padding: 2em 0em;
  }

  &__logo {
    object-fit: cover;
    width: 50px;

    @include respond(tab-port) {
      width: 60px;
    }
    @include respond(tab-land) {
      width: 70px;
    }
    @include respond(small-desktop) {
      width: 75px;
    }
    @include respond(big-desktop) {
      width: 80px;
    }
  }
}
