.btn {
  border: 0 !important;
  font-family: $titles-font;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background-color: $color-fourth;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  margin-top: 2em;
  transition: all 800ms;

  &:hover {
    background-color: $color-sixth;
    color: white;
  }
}

.btn-submit {
  &--1 {
    @include flexbox(center, center);
    padding: 1em 3em;
    margin: 0 1em;
    margin-top: 1em;
    background-color: #fff;
    color: $color-fourth;

    @include respond(tab-port) {
      margin-top: 0;
    }

    & > span {
      font-weight: bold;
      margin-right: 0.5em;
    }
  }
  &--2 {
    padding: 1em 3em;
    color: #f1f1f1;
    margin-top: 2em;
    margin-left: 0.5em;
    font-weight: bold;

    &:hover {
      background-color: $color-third;
    }
  }
}
