.card {
  box-shadow: 3px 5px 2px 1px rgba(40, 42, 44, 0.315);
  width: 20%;
  margin: 2em;
  background-color: aliceblue;
  @include flexbox(normal, flex-start, row);
  border-radius: 10px;
  padding: 10px 0;

  transition: all 300ms;

  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  &__img {
    width: 30%;
    @include flexbox(center, center);
    img {
      width: 60%;
    }
  }

  &__info {
    width: 70%;
    height: 100%;
    @include flexbox(center, normal, column);
  }

  &__title {
    font-size: 1.8em;
  }
  
  &__value {
    display: inline-block;
    font-size: 1.3em;
    color: $color-fifth;
    margin-left: 1px;
  }
}
