.tooltip {
    position: relative;
    border-radius: 2px;
    width: 10%;
    background-color: transparent;
    font-size: 12;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}