@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto&display=swap');

// FONTS 

// Family
$titles-font: 'Montserrat', sans-serif;
$texts-font:'Roboto', sans-serif;

// Size
$default-font-size: 1.6rem;

// COLORS
$color-primary:#DEEBFD;
$color-secondary: #B1CDF3;
$color-third: #6CA5D1;
$color-fourth: #2B3FCC;
$color-fifth: #959FAB;
$color-sixth: #282A2C;

// GRID
$grid-width: 90%;

// Standars
    // 1280 px
    // 1380 px
    // 1440 px
$grid-width-max: 1380px;
$gutter-vertical: 7em;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 10.5rem;